<div class="container mt-5">
  <form class="container" method="POST" (ngSubmit)="searchStudent()">
    <div class="row my-5 d-flex justify-content-center">
      <div class="col-3"></div>
      <div class="col">
        <input
          type="text"
          [(ngModel)]="searchStudentObj.searchStudentId"
          name="searchStudentId"
          class="form-control"
          placeholder="Type student id to search"
        />
      </div>
      <div class="col">
        <button type="submit" id="searchButton" class="btn btn-primary">
          Search
        </button>
      </div>
    </div>
  </form>
  <form
    *ngIf="searchStudentObj.search"
    class="container"
    [formGroup]="marks"
    method="POST"
    (ngSubmit)="uploadMarks(marks)"
  >
    <div class="row">
      <div class="col-4 d-flex align-items-center flex-column">
        <img
          class="img-thumbnail"
          src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        />
        <div class="border border-2 p-3">
          <p>
            <strong> Name </strong>
            abc
          </p>
          <p>
            <strong>Department</strong>
            xxx
          </p>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group mb-5">
          <input
            type="text"
            class="form-control"
            placeholder="Enter Subject 1 Name"
            id="sub1Name"
            name="sub1Name"
            formControlName="sub1Name"
          />
        </div>
        <div class="form-group mb-5">
          <input
            type="text"
            class="form-control"
            placeholder="Enter Subject 2 Name"
            id="sub2Name"
            name="sub2Name"
            formControlName="sub2Name"
          />
        </div>
        <div class="form-group mb-5">
          <input
            type="text"
            class="form-control"
            placeholder="Enter Subject 3 Name"
            id="sub3Name"
            name="sub3Name"
            formControlName="sub3Name"
          />
        </div>
        <div class="form-group mb-5">
          <input
            type="text"
            class="form-control"
            placeholder="Enter Subject 4 Name"
            id="sub4Name"
            name="sub4Name"
            formControlName="sub4Name"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Enter Subject 5 Name"
            id="sub5Name"
            name="sub5Name"
            formControlName="sub5Name"
          />
        </div>
      </div>
      <div class="col-4">
        <div class="form-group mb-5">
          <input
            type="number"
            class="form-control"
            placeholder="Enter Subject 1 Mark"
            id="sub1"
            name="sub1"
            formControlName="sub1"
          />
        </div>
        <div class="form-group mb-5">
          <input
            type="number"
            class="form-control"
            placeholder="Enter Subject 2 Mark"
            id="sub2"
            name="sub2"
            formControlName="sub2"
          />
        </div>
        <div class="form-group mb-5">
          <input
            type="number"
            class="form-control"
            placeholder="Enter Subject 3 Mark"
            id="sub3"
            name="sub3"
            formControlName="sub3"
          />
        </div>
        <div class="form-group mb-5">
          <input
            type="number"
            class="form-control"
            placeholder="Enter Subject 4 Mark"
            id="sub4"
            name="sub4"
            formControlName="sub4"
          />
        </div>
        <div class="form-group">
          <input
            type="number"
            class="form-control"
            placeholder="Enter Subject 5 Mark"
            id="sub5"
            name="sub5"
            formControlName="sub5"
          />
        </div>
      </div>
      <div class="form-group mt-5">
        <button
          class="btn btn-success float-end"
          type="submit"
          id="updateButton"
        >
          Update Marks
        </button>
      </div>
    </div>
  </form>
</div>
