<div>
  <h3 class="text-center">{{ 4 }} th Semester Attendance</h3>
  <table class="table table-bordered mt-5" id="attendanceGrid">
    <thead class="table-secondary">
      <tr>
        <th>Particulars</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Total Number of Working Days</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Number of Days present</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Number of Days absent</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Attendance Percentage</td>
        <td>{{ 0.8 | percent }}</td>
      </tr>
      <tr>
        <td>No. of Holidays</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>
</div>
